body {
    background-color: hwb(208 8% 84%);;
    color: hsl(0deg 0% 100%);
    padding: 20px;
  }


.container {
    background-color: hsl(210deg 15% 20%);
    border: 1px solid hsl(210deg 8% 50%);
    border-radius: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;
    gap: 8px;

}

.item {
    padding: 2px;
    text-align: center;
    background-color: hsl(210deg 15% 20%);
    border: 2px solid hsl(210deg 8% 50%);
    border-radius: 5px;
    flex-basis: 100px;
    flex-grow: 1;
}

/* .box1{
    flex-shrink: 1;
    flex-grow: 1;
} */

.container-2 {
    background-color: hsl(210deg 15% 20%);
    border: 1px solid hsl(210deg 8% 50%);
    border-radius: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    gap: 8px;
}

.item2 {
    padding: 20px;
    text-align: center;
    background-color: hsl(210deg 15% 20%);
    border: 2px solid hsl(210deg 8% 50%);
    border-radius: 5px;

}

.circle {
    border-radius: 50%;
    
}

.stretch{
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 90px;

}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
nav li{
    border: 2px solid hsl(210deg 8% 50%);
    border-radius: 5px;
    padding: 6px;
    list-style: none;

    
}
li a{
    text-decoration: none;
    color: hsl(0deg 0% 100%);
}

.pushright {
    margin-left: auto;
}

.cards {
    background-color: hsl(210deg 15% 20%);
    border: 1px solid hsl(210deg 8% 50%);
    border-radius: 20px 0px 20px 0px;
    /* height: 300px; */
    /* width: 90%; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-content: space-evenly;
    gap : 30px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: hsla(210, 3%, 16%, 0.596);
    border: 1px solid hsl(210deg 8% 50%);
    border-radius: 20px 0px 20px 0px;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;

}

.card .content {
    flex: 1 1 auto;
}

.card footer{
    background-color: hsla(0, 0%, 2%, 0.596);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid hsl(210deg 8% 50%);
    border-radius: 20px 0px 20px 0px;
}

.media { 
    background-color: hsl(210deg 15% 20%);
    border: 1px solid hsl(210deg 8% 50%);
    border-radius: 20px 0px 20px 0px;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.media .image {
    flex: 1;
}
 .media .content {
    /* border: 1px solid red; */
    flex: 3;
    padding: 10px;   
 }

.image img {
    max-width: 100%;
    max-width: 100px;
    
 }
 