body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(78, 1, 50);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
} 

.button{
    background-color:blueviolet;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 9px 5px rgba(0, 0, 0, .6);
    text-decoration: none;
    color: rgb(6, 65, 6);
    position: relative;
    overflow: hidden;
}

.button span{
    position: relative;
    z-index: 1;
}
.button::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s, height .5s;

}

.button:hover::before{
    width: 300px;
    height: 300px;
    
}